*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
.box1{
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: rgb(23, 106, 6);
    width:50%;
    height:70%;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.box h3{

      font-size: 80px;
      font-weight: 300;
      margin-left: 20px;
      margin-top: 75px;
}

.box p{

       font-size: 25px;
       font-weight: 500;
        margin-top: 30px;
        margin-left: 25px;
}

.box button{

      margin-top: 20px;
      margin-left: 20px;
        height:5% ;
        width: 20%;
      font-weight: 800;
}

.box button:hover{

         border: 2px solid rgb(39, 243, 16);


}
.box2{
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box22{
     /* display: flex; */ */
     /* align-items: center; */ */
    /* justify-content: space-around; */ */
    border: 1px solid black;
    background-color:whitesmoke;
    width:50%;
    height:60%;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding :10px    
}
.box22 h1{

    font-size: 40px;
    font-weight: 200;
    margin-left: 5%;
    margin-top: 5%;
    
}
.box22 p{
    
    font-size: 25px;
    font-weight: 50;
     margin-top: 30px;
     margin-left: 25px;
}
.img{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
.box-img{
    height: 100vh;
}
.box-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 70px;

}
.box-img2{
    
    
    
    height: 100px;
}
.box-img2{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 50px;
}

.last{
    margin-top: 20px;
}
a{  
     margin-top: 500px;
     font-size: 18px;
     margin-left: 20px;
}

hr{
    margin-top: 50px;
}
.card{
    width: 100%;
    height: 70%;
    border:1px solid rgb(146, 144, 144);
    border-radius: 14px;
    margin : 60px auto;
}
.card-img{
    width: 100%;
    height: 30%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.card p{
    font-size: 19px;
    text-transform: bold;
    margin-top: 10px;
    color: rgba(123, 119, 119, 0.996);
}
.card h3{
    padding-left: 20px;

}
.card p{
    color: rgba(123, 119, 119, 0.996);
    margin-left: 10px;
    padding: 20px 15px;
}
.card button{
    margin-left: 20px;
    padding: 11px 30px;
    text-align: center;
    color:#1A73E8;
    border-radius: 10px;
    font-size: 18px;
}
.box55{
    box-sizing: border-box;
    /* margin-left: 10px; */
    width: 500px;
    
    

}
.box5{
    width: 500px;
    margin: 50px auto;
    height: 600px;
    border-color: grey;
    
    

}
.welcome{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}
.email{
    border: 1px solid lightgray;
    width: 300px;
    margin-left: 45px;
    padding: 12px 9px 12px 9px;
    color: gray;
    border-radius: 4px;
}
.pass{
    border: 1px solid lightgray;
    width: 300px;
    margin-left: 45px;
    padding: 12px 9px 12px 0px;
    color: gray;
    border-radius: 4px;
}
.login{
    text-align: center;
    justify-content: center;
}
.log{
    background-color: black;
    color: white;
    border-radius: 40px;
    width: 200px;
    margin-left: 155px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-bottom: 8px;
}
.member{
    margin-left: 15px;
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-bottom: 2px;
}
.member2{
    margin-top: 1px;
    margin-left: 15px;
    text-align: center;
    font-size: 12px;
    color:black;
    text-decoration: underline;
}
.policy{
    margin-left: 15px;
    text-align: center;
    font-size: 10px;
    color: gray;
    margin-bottom:2px ;
}








